*{margin:0;padding:0}
.top{
    text-align: center;
}
.navbar{
    line-height: 60px;
    height: 60px;
    background: #A2DBF9;
}
.navbar-wrap{
    width: 1200px;
    height: 60px;
    margin-left:auto;
    margin-right: auto;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container p{
    width: 1200px;
    text-indent: 20px;
}
.footer{
    text-align:center;
    background: #A2DBF9;
}
